# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

# Given data
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Print the data present in the second row (index 1)
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In Pandas, loc and iloc are both used for indexing and selecting data from a DataFrame, but they operate in different ways and use different types of indexing.

Differences between loc and iloc:
Type of Indexing:

loc: Uses label-based indexing. This means you select rows and columns by their labels (the names of the indices or column headers).
iloc: Uses integer-based indexing. This means you select rows and columns by their integer position (the integer index of rows or columns).
Usage:

loc:
Syntax: df.loc[row_label, column_label]
Example: df.loc[1, 'course_name'] selects the 'course_name' value of the row with index label 1.
iloc:
Syntax: df.iloc[row_index, column_index]
Example: df.iloc[1, 0] selects the value from the first column (index 0) of the second row (index 1).
Slicing:

loc: Slices include both the start and end labels. For example, df.loc[0:2] selects rows with indices 0, 1, and 2.
iloc: Slices exclude the end index. For example, df.iloc[0:2] selects rows with indices 0 and 1 but not 2.
Return Type:

Both loc and iloc can return Series or DataFrames depending on the selection. However, the type returned will depend on whether you are selecting a single row/column or multiple ones.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [3]:
import pandas as pd
import numpy as np

# Creating a DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Print the original DataFrame
print("Original DataFrame (df1):")
print(df1)

# Reindexing the DataFrame
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

# Print the new DataFrame
print("\nReindexed DataFrame (new_df):")
print(new_df)

# Accessing using loc and iloc
loc_output = new_df.loc[2]
iloc_output = new_df.iloc[2]

# Print outputs
print("\nOutput of new_df.loc[2]:")
print(loc_output)

print("\nOutput of new_df.iloc[2]:")
print(iloc_output)

Original DataFrame (df1):
   column_1  column_2  column_3  column_4  column_5  column_6
1  0.201388  0.486048  0.505277  0.271665  0.842653  0.201611
2  0.521365  0.656958  0.029373  0.239565  0.223036  0.222795
3  0.839679  0.544253  0.286748  0.722983  0.933801  0.123326
4  0.828452  0.834460  0.346496  0.029591  0.555597  0.290634
5  0.618282  0.330522  0.974079  0.522566  0.508414  0.894783
6  0.937499  0.485388  0.877181  0.619642  0.063795  0.065141

Reindexed DataFrame (new_df):
   column_1  column_2  column_3  column_4  column_5  column_6
3  0.839679  0.544253  0.286748  0.722983  0.933801  0.123326
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.201388  0.486048  0.505277  0.271665  0.842653  0.201611
2  0.521365  0.656958  0.029373  0.239565  0.223036  0.222795

Output of new_df.loc[2]:
column_1    0.521365
column_2    0.656958
column_3    0.029373
column_4    0.239565
column_5    0.223036
column_6    0.222795
Name: 2, dtype: float64

Output of new_df.iloc[2]:
column_1    0.201388
column_2    0.486048
column_3    0.505277
column_4    0.271665
column_5    0.842653
column_6    0.201611
Name: 1, dtype: float64

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [4]:
import pandas as pd
import numpy as np

# Creating a DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Calculate the mean of each column
mean_values = df1.mean()
print("Mean of each column:")
print(mean_values)

# (ii) Calculate the standard deviation of 'column_2'
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(std_column_2)

Mean of each column:
column_1    0.708566
column_2    0.405930
column_3    0.578466
column_4    0.662328
column_5    0.465369
column_6    0.563158
dtype: float64

Standard deviation of 'column_2':
0.33334871397533106

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.


If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [5]:
import pandas as pd
import numpy as np

# Creating a DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Print the original DataFrame
print("Original DataFrame (df1):")
print(df1)

# Replace the data present in the second row of column 'column_2' with a string
df1.loc[2, 'column_2'] = "string_value"

# Print the modified DataFrame
print("\nModified DataFrame (df1) after replacing value in column_2:")
print(df1)

# Calculate the mean of 'column_2'
try:
    mean_column_2 = df1['column_2'].mean()
    print("\nMean of 'column_2':")
    print(mean_column_2)
except Exception as e:
    print("\nError occurred while calculating mean of 'column_2':")
    print(e)

Original DataFrame (df1):
   column_1  column_2  column_3  column_4  column_5  column_6
1  0.124960  0.448531  0.173409  0.703360  0.916581  0.004564
2  0.216810  0.224721  0.912778  0.724128  0.650731  0.428119
3  0.653001  0.418411  0.350486  0.107327  0.638239  0.478575
4  0.512862  0.571234  0.560511  0.916080  0.909271  0.344939
5  0.985745  0.779364  0.320095  0.892079  0.688603  0.509696
6  0.559928  0.134649  0.993566  0.819205  0.753544  0.194318

Modified DataFrame (df1) after replacing value in column_2:
   column_1      column_2  column_3  column_4  column_5  column_6
1  0.124960      0.448531  0.173409  0.703360  0.916581  0.004564
2  0.216810  string_value  0.912778  0.724128  0.650731  0.428119
3  0.653001      0.418411  0.350486  0.107327  0.638239  0.478575
4  0.512862      0.571234  0.560511  0.916080  0.909271  0.344939
5  0.985745      0.779364  0.320095  0.892079  0.688603  0.509696
6  0.559928      0.134649  0.993566  0.819205  0.753544  0.194318

Error occurred while calculating mean of 'column_2':
unsupported operand type(s) for +: 'float' and 'str'

<ipython-input-5-a1860fedde19>:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = "string_value"

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, window functions are powerful tools used for performing operations on a subset of data points, known as a "window," within a larger dataset. These functions are particularly useful for analyzing time-series data or other data where you want to apply calculations over a sliding window of data.

# Understanding Window Functions:
Definition: A window function performs a calculation across a set of rows related to the current row within the dataset. Unlike traditional aggregation functions (like mean() or sum()), which return a single result for the entire dataset, window functions return a result for each row in the original dataset based on the defined window of rows.
Use Cases: Window functions are used for various purposes, including:
Moving averages: Calculating averages over a sliding window of data points.
Cumulative sums: Summing values up to the current row.
Ranking: Assigning ranks to values in a column.

# Types of Window Functions in Pandas:

Pandas provides several types of window functions that can be applied using the .rolling(), .expanding(), and .ewm() methods. Here are the main types:

Rolling Window Functions (rolling()):

Description: Performs calculations over a fixed-size window that moves over the data.
Examples:
mean(): Calculate the moving average.
sum(): Calculate the moving sum.
min(), max(): Calculate the moving minimum and maximum.

# Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [6]:
import pandas as pd

# Get the current date
current_date = pd.Timestamp.now()

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

# Print the current month and year
print(f"Current Month: {current_month}, Current Year: {current_year}")

Current Month: 10, Current Year: 2024

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [7]:
import pandas as pd

def calculate_date_difference():
    # Prompt the user to enter two dates
    date1_str = input("Enter the first date (YYYY-MM-DD): ")
    date2_str = input("Enter the second date (YYYY-MM-DD): ")

    # Convert input strings to pandas Timestamp
    date1 = pd.Timestamp(date1_str)
    date2 = pd.Timestamp(date2_str)

    # Calculate the difference
    delta = date2 - date1

    # Get the total days, hours, and minutes
    total_days = delta.days
    total_seconds = delta.total_seconds()
    total_hours = total_seconds // 3600
    total_minutes = (total_seconds % 3600) // 60

    # Print the result
    print(f"\nDifference between {date1_str} and {date2_str}:")
    print(f"Days: {total_days}")
    print(f"Hours: {total_hours}")
    print(f"Minutes: {total_minutes}")

# Call the function
calculate_date_difference()

Enter the first date (YYYY-MM-DD): 20030703
Enter the second date (YYYY-MM-DD): 20080205

Difference between 20030703 and 20080205:
Days: 1678
Hours: 40272.0
Minutes: 0.0

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specifiedcolumn to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [8]:

import pandas as pd

def process_categorical_data():
    # Prompt the user to enter the file path
    file_path = input("Enter the CSV file path: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("The specified file was not found. Please check the file path.")
        return
    except pd.errors.EmptyDataError:
        print("The file is empty. Please provide a valid CSV file.")
        return
    except pd.errors.ParserError:
        print("Error parsing the file. Please check the file format.")
        return

    # Display the first few rows of the DataFrame
    print("\nData in the CSV file:")
    print(df.head())

    # Prompt the user for the column name to convert
    column_name = input("\nEnter the column name to convert to categorical: ")

    # Check if the column exists in the DataFrame
    if column_name not in df.columns:
        print(f"Column '{column_name}' does not exist in the DataFrame.")
        return

    # Prompt the user for the category order
    category_order = input("\nEnter the category order (comma-separated): ").split(',')

    # Strip any extra whitespace from category names
    category_order = [category.strip() for category in category_order]

    # Convert the specified column to categorical data type with the specified order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame by the categorical column
    sorted_df = df.sort_values(by=column_name)

    # Display the sorted data
    print("\nSorted data:")
    print(sorted_df)

# Call the function
process_categorical_data()

Enter the CSV file path: /content/telecom_customer_churn.csv

Data in the CSV file:
  Customer ID  Gender  Age Married  Number of Dependents          City  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale
2  0004-TLHLJ    Male   50      No                     0    Costa Mesa
3  0011-IGKFF    Male   78     Yes                     0      Martinez
4  0013-EXCHZ  Female   75     Yes                     0     Camarillo

   Zip Code   Latitude   Longitude  Number of Referrals  ...   Payment Method  \
0     93225  34.827662 -118.999073                    2  ...      Credit Card
1     91206  34.162515 -118.203869                    0  ...      Credit Card
2     92627  33.645672 -117.922613                    0  ...  Bank Withdrawal
3     94553  38.014457 -122.115432                    1  ...  Bank Withdrawal
4     93010  34.227846 -119.079903                    3  ...      Credit Card

  Monthly Charge Total Charges  Total Refunds Total Extra Data Charges  \
0           65.6        593.30           0.00                        0
1           -4.0        542.40          38.33                       10
2           73.9        280.85           0.00                        0
3           98.0       1237.85           0.00                        0
4           83.9        267.40           0.00                        0

  Total Long Distance Charges Total Revenue  Customer Status   Churn Category  \
0                      381.51        974.81           Stayed              NaN
1                       96.21        610.28           Stayed              NaN
2                      134.60        415.45          Churned       Competitor
3                      361.66       1599.51          Churned  Dissatisfaction
4                       22.14        289.54          Churned  Dissatisfaction

                    Churn Reason
0                            NaN
1                            NaN
2  Competitor had better devices
3        Product dissatisfaction
4            Network reliability

[5 rows x 38 columns]

Enter the column name to convert to categorical: Age

Enter the category order (comma-separated): 2

Sorted data:
     Customer ID  Gender  Age Married  Number of Dependents          City  \
0     0002-ORFBO  Female  NaN     Yes                     0  Frazier Park
1     0003-MKNFE    Male  NaN      No                     0      Glendale
2     0004-TLHLJ    Male  NaN      No                     0    Costa Mesa
3     0011-IGKFF    Male  NaN     Yes                     0      Martinez
4     0013-EXCHZ  Female  NaN     Yes                     0     Camarillo
...          ...     ...  ...     ...                   ...           ...
7038  9987-LUTYD  Female  NaN      No                     0       La Mesa
7039  9992-RRAMN    Male  NaN     Yes                     0     Riverbank
7040  9992-UJOEL    Male  NaN      No                     0           Elk
7041  9993-LHIEB    Male  NaN     Yes                     0  Solana Beach
7042  9995-HOTOH    Male  NaN     Yes                     0   Sierra City

      Zip Code   Latitude   Longitude  Number of Referrals  ...  \
0        93225  34.827662 -118.999073                    2  ...
1        91206  34.162515 -118.203869                    0  ...
2        92627  33.645672 -117.922613                    0  ...
3        94553  38.014457 -122.115432                    1  ...
4        93010  34.227846 -119.079903                    3  ...
...        ...        ...         ...                  ...  ...
7038     91941  32.759327 -116.997260                    0  ...
7039     95367  37.734971 -120.954271                    1  ...
7040     95432  39.108252 -123.645121                    0  ...
7041     92075  33.001813 -117.263628                    5  ...
7042     96125  39.600599 -120.636358                    1  ...

       Payment Method Monthly Charge Total Charges  Total Refunds  \
0         Credit Card          65.60        593.30           0.00
1         Credit Card          -4.00        542.40          38.33
2     Bank Withdrawal          73.90        280.85           0.00
3     Bank Withdrawal          98.00       1237.85           0.00
4         Credit Card          83.90        267.40           0.00
...               ...            ...           ...            ...
7038      Credit Card          55.15        742.90           0.00
7039  Bank Withdrawal          85.10       1873.70           0.00
7040      Credit Card          50.30         92.75           0.00
7041      Credit Card          67.85       4627.65           0.00
7042  Bank Withdrawal          59.00       3707.60           0.00

     Total Extra Data Charges Total Long Distance Charges Total Revenue  \
0                           0                      381.51        974.81
1                          10                       96.21        610.28
2                           0                      134.60        415.45
3                           0                      361.66       1599.51
4                           0                       22.14        289.54
...                       ...                         ...           ...
7038                        0                      606.84       1349.74
7039                        0                      356.40       2230.10
7040                        0                       37.24        129.99
7041                        0                      142.04       4769.69
7042                        0                        0.00       3707.60

      Customer Status   Churn Category                   Churn Reason
0              Stayed              NaN                            NaN
1              Stayed              NaN                            NaN
2             Churned       Competitor  Competitor had better devices
3             Churned  Dissatisfaction        Product dissatisfaction
4             Churned  Dissatisfaction            Network reliability
...               ...              ...                            ...
7038           Stayed              NaN                            NaN
7039          Churned  Dissatisfaction        Product dissatisfaction
7040           Joined              NaN                            NaN
7041           Stayed              NaN                            NaN
7042           Stayed              NaN                            NaN

[7043 rows x 38 columns]

# Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("The specified file was not found. Please check the file path.")
        return
    except pd.errors.EmptyDataError:
        print("The file is empty. Please provide a valid CSV file.")
        return
    except pd.errors.ParserError:
        print("Error parsing the file. Please check the file format.")
        return

    # Display the first few rows of the DataFrame
    print("\nData in the CSV file:")
    print(df.head())

    # Check if necessary columns exist in the DataFrame
    if 'Date' not in df.columns or 'Product_Category' not in df.columns or 'Sales' not in df.columns:
        print("The required columns 'Date', 'Product_Category', or 'Sales' do not exist in the DataFrame.")
        return

    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])

    # Group by Date and Product Category, and sum the sales
    grouped_data = df.groupby([df['Date'].dt.to_period('M'), 'Product_Category'])['Sales'].sum().unstack()

    # Plot the stacked bar chart
    grouped_data.plot(kind='bar', stacked=True, figsize=(10, 6))

    # Add labels and title
    plt.title('Sales of Each Product Category Over Time')
    plt.xlabel('Date (Month)')
    plt.ylabel('Total Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Product Category')
    plt.tight_layout()

    # Show the plot
    plt.show()

# Call the function
visualize_sales_data()

Enter the file path/content/supermarket_sales - Sheet1.csv

Data in the CSV file:
    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3
The required columns 'Date', 'Product_Category', or 'Sales' do not exist in the DataFrame.

# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Writea Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [14]:
import pandas as pd
from scipy import stats

def calculate_statistics():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path of the CSV file containing the student data: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("The specified file was not found. Please check the file path.")
        return
    except pd.errors.EmptyDataError:
        print("The file is empty. Please provide a valid CSV file.")
        return
    except pd.errors.ParserError:
        print("Error parsing the file. Please check the file format.")
        return

    # Check if the necessary column exists
    if 'Test Score' not in df.columns:
        print("The column 'Test Score' does not exist in the DataFrame.")
        return

    # Calculate mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().tolist()

    # Format mode to handle multiple modes
    mode_value = ', '.join(map(str, mode_score))

    # Display results in a table format
    result_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, mode_value]
    })

    print("\n+-----------+--------+")
    print(result_table.to_string(index=False, header=True))
    print("+-----------+--------+")

# Call the function
calculate_statistics()

Enter the file path of the CSV file containing the student data: /content/telecom_customer_churn.csv
The column 'Test Score' does not exist in the DataFrame.